<%# Post to Newsfeed  %>
<div class="card p-3 d-flex">
  <form class="form-inline">
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" placeholder="Share some progress"></textarea>
    <div class="d-flex justify-content-between">
      <div>
        <i class="fa-solid fa-paperclip fa-xl mt-4" style="color: #000000;"></i>
        <i class="fa-solid fa-file fa-xl m-4 " style="color: #000000;"></i>
        <i class="fa-solid fa-image fa-xl mt-4" style="color: #000000;"></i>
      </div>
      <button type="submit" class="btn btn-success mt-2"><i class="fa-regular fa-paper-plane fa-xl"></i></button>
    </div>
  </form>
</div>

<div class="card mt-4">
  <div class="card-header d-inline-flex p-2">
    <img class="avatar m-2"src="https://kitt.lewagon.com/placeholder/users/ssaunier" alt="Profile Photo">
    <p class="mr-2 mt-3">Jonathan Grinstead</p>
  </div>
  <div class="card-body">
    <div class="text-center p-3">
      <h5 class="card-title">New Update from Jonathan Grinstead expand to see full progress</h5>
      <i class="fa-solid fa-chevron-down fa-2xl" style="color: #000000;"></i>
    </div>
    <div class="d-flex justify-content-between">
      <i class="fa-regular fa-heart fa-xl mt-3" style="color: #f40606;"></i>
      <p class="text-muted">Likes: 0 Comments : 0</p>
    </div>
    <form class="d-flex mx-auto mt-2" role="search">
      <input class="form-control me-2" type="search" placeholder="Comment" aria-label="Search">
      <button class="btn btn-outline-success" type="submit"><i class="fa-regular fa-envelope fa-xl"></i></button>
    </form>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>

<div class="card mt-4">
  <div class="card-header d-inline-flex p-2">
    <img class="avatar m-2"src="https://kitt.lewagon.com/placeholder/users/ssaunier" alt="Profile Photo">
    <p class="mr-2 mt-3">Jonathan Grinstead</p>
  </div>
  <div class="card-body">
    <div class="text-center p-3">
      <h5 class="card-title">New Update from Jonathan Grinstead expand to see full progress</h5>
      <i class="fa-solid fa-chevron-down fa-2xl" style="color: #000000;"></i>
    </div>
    <div class="d-flex justify-content-between">
      <i class="fa-regular fa-heart fa-xl mt-3" style="color: #f40606;"></i>
      <p class="text-muted">Likes: 0 Comments : 0</p>
    </div>
    <form class="d-flex mx-auto mt-2" role="search">
      <input class="form-control me-2" type="search" placeholder="Comment" aria-label="Search">
      <button class="btn btn-outline-success" type="submit"><i class="fa-regular fa-envelope fa-xl"></i></button>
    </form>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>

<div class="card mt-4">
  <div class="card-header d-inline-flex p-2">
    <img class="avatar m-2"src="https://kitt.lewagon.com/placeholder/users/ssaunier" alt="Profile Photo">
    <p class="mr-2 mt-3">Jonathan Grinstead</p>
  </div>
  <div class="card-body">
    <div class="text-center p-3">
      <h5 class="card-title">New Update from Jonathan Grinstead expand to see full progress</h5>
      <i class="fa-solid fa-chevron-down fa-2xl" style="color: #000000;"></i>
    </div>
    <div class="d-flex justify-content-between">
      <i class="fa-regular fa-heart fa-xl mt-3" style="color: #f40606;"></i>
      <p class="text-muted">Likes: 0 Comments : 0</p>
    </div>
    <form class="d-flex mx-auto mt-2" role="search">
      <input class="form-control me-2" type="search" placeholder="Comment" aria-label="Search">
      <button class="btn btn-outline-success" type="submit"><i class="fa-regular fa-envelope fa-xl"></i></button>
    </form>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>

<div class="mt-4 d-flex justify-content-center">
<button type="button" class="btn btn-secondary btn-lg">See More</button>
</div>
