<%= render "navbar" %>
<div class="container">
  <div class="row mt-4">
    <div class="col-4">
      <%= render "sidebar" %>
    </div>
    <div  class="col-8">
      <%= render "newsfeed" %>
    </div>
  </div>
</div>
